@import '../../index.scss';

.container {
  @include flexCustom(row, flex-start, center);
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;

  &:hover {
    border-radius: 5px;
    background-color: #d4ebff;
  }

  .img {
    @include imageContainer(40, 40);
    margin-right: 20px;
  }
  .name {
    font-weight: 500;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 8px 0;

    .img {
      @include imageContainer(35, 35);
      margin-right: 10px;
    }
    .name {
      font-size: 13px;
      font-weight: 400;
    }
  }
}

@media screen and (max-width: 448px) {
  .container {
    padding: 7px 0;

    .img {
      @include imageContainer(30, 30);
      margin-right: 10px;
    }
    .name {
      font-size: 12px;
      font-weight: 400;
    }
  }
}
