@import '../../index.scss';

.container {
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 15px -9px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 15px -9px rgba(0, 0, 0, 0.7);

  .wrapper {
    padding: 20px;

    .top {
      @include flexCenter(row, flex-start);

      .profileImg {
        @include imageContainer(50, 50);
        margin-right: 10px;
      }

      .input {
        border: none;
        width: 80%;
        font-size: 15px;
        font-family: $Mali;

        &:focus {
          outline: none;
        }
      }
    }

    .line {
      margin: 15px;
    }

    .imgContainer {
      padding: 0 20px 10px 20px;
      position: relative;

      .img {
        width: 100%;
        object-fit: contain;
      }

      .imgIcon {
        position: absolute;
        font-size: 18px;
        top: -8px;
        right: 10px;
      }
    }

    .bottom {
      @include flexCenter(row, space-between);
      .options {
        display: flex;
        margin-left: 20px;

        .share {
          @include flexCenter(row, center);
          margin-right: 15px;
          cursor: pointer;

          .icon {
            font-size: 18px;
            margin-right: 3px;
          }
        }
      }
      .btn {
        padding: 5px 10px;
        font-weight: 500;
        cursor: pointer;
        color: white;
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    .wrapper {
      padding: 20px;

      .top {
        .profileImg {
          @include imageContainer(40, 40);
        }

        .input {
          font-size: 13px;
          font-family: $Mali;
        }
      }

      .bottom .options .share .shareText {
        font-size: 13px;
      }

      .bottom .btn {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: 448px) {
  .container {
    .wrapper {
      padding: 20px;

      .top {
        .profileImg {
          @include imageContainer(30, 30);
        }

        .input {
          font-size: 12px;
          font-family: $Raleway;
        }
      }

      .bottom .options .share .shareText {
        font-size: 12px;
      }

      .bottom .btn {
        font-size: 10px;
        padding: 2px 0;
      }
    }
  }
}
