@import '../../index.scss';

.container {
  height: calc(100vh - 120px);
  display: flex;

  .left {
    flex: 3;

    .wrapper {
      padding: 0 10px;
      height: 100%;
      overflow-y: scroll;
      @include scrollBar;

      .input {
        padding-top: 10px;
        font-size: 14px;
        width: 90%;
        margin-bottom: 10px;
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: #fff;
      }
    }
  }

  .center {
    flex: 6;

    .wrapper {
      padding: 10px;
      height: 100%;

      .chatBg {
        margin: 0 20px;
        font-size: 50px;
        font-weight: 600;
        color: lightblue;
      }
      .top {
        width: 100%;
        height: 100%;
        padding-right: 10px;
        overflow-y: scroll;
        @include scrollBar;
      }
      .bottom {
        display: flex;
        padding: 10px;
        .textArea {
          width: 85%;
          border-radius: 3px;
          @include scrollBar;
        }

        .btn {
          height: 23px;
          text-transform: capitalize;
          font-size: 13px;
          font-weight: 500;
          cursor: pointer;
          color: white;
          margin-left: 10px;
        }
      }
    }
  }

  .right {
    flex: 3;

    .wrapper {
      padding: 10px;
      height: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .left {
    flex: 1;

    .input {
      display: none;
    }
  }

  .center {
    flex: 10px;
  }

  .right {
    flex: 1;
  }
}

@media screen and (max-width: 448px) {
  .left {
    flex: 1;

    .wrapper {
      padding: 0;
      margin: 0;
    }
  }

  .center {
    flex: 11;
  }

  .right {
    flex: 0;
    display: none;
  }
}
