@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

// Fonts
$Raleway: 'Raleway', sans-serif;
$Lobster: 'Lobster Two', sans-serif;
$Mali: 'Mali', cursive;

// Colors
$dark: rgb(29, 29, 29);
$light: #fff;
$primary: #1877f2;
// Size
$size-sm: 12px;
$size-md: 16px;
$size-lg: 24px;

// Mixins
@mixin flexCenter($dir, $jc) {
  display: flex;
  justify-content: $jc;
  align-items: center;
  flex-direction: $dir;
}

@mixin flexCustom($dir, $jc, $ai) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $dir;
}

@mixin imageContainer($w, $h) {
  width: $w * 1px;
  height: $h * 1px;
  border-radius: 50%;
  object-fit: cover;
}

@mixin bgColor {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

* {
  font-family: $Raleway;
  margin: 0;
}
