@import '../../index.scss';

.container {
  @include flexCenter(row, center);
  @include bgColor;
  height: 50px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;

  .left {
    flex: 3;

    .link {
      text-decoration: none;
      .logo {
        font-family: $Lobster;
        font-size: 30px;
        margin-left: 30px;
        font-weight: 600;
        letter-spacing: 3px;
        color: white;
        cursor: pointer;
        text-shadow: -1px -1px 3px rgb(232, 249, 253, 0.9);
      }
    }
  }

  .center {
    flex: 6;
    @include flexCenter(row, center);
    .searchBar {
      width: 95%;
      height: 30px;
      background-color: white;
      border-radius: 30px;
      @include flexCenter(row, flex-start);

      .searchIcon {
        font-size: 12px !important;
        margin: 0 10px;
      }

      .searchInput {
        border: none;
        width: 70%;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .right {
    flex: 3;
    @include flexCenter(row, space-around);
    color: $light;

    .icons {
      display: flex;

      .iconItem {
        margin-right: 15px;
        cursor: pointer;
        position: relative;
        .icon {
          height: 15px !important;
          width: 18px !important;
        }

        .iconBadge {
          @include flexCenter(row, center);
          width: 15px;
          height: 15px;
          background-color: red;
          border-radius: 50%;
          color: white;
          position: absolute;
          top: -5px;
          right: -5px;
          font-size: 12px;
        }
      }
    }
    .linkExit {
      text-decoration: none;

      .iconExit {
        font-size: 16px;
        color: white;

        .iconExitText {
          margin-left: 5px;
          font-size: 14px;
        }
      }
    }

    .topbarImg {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;
    }
  }
}
