@import '../../index.scss';

.container {
  .person {
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;

    .imgContainer {
      position: relative;
      margin-right: 10px;

      .img {
        @include imageContainer(32, 32);
        border: 1px solid white;
      }

      .badge {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: limegreen;
        position: absolute;
        top: 2px;
        right: 2px;
      }
    }

    .name {
    }
  }
}
