@import '../../index.scss';

.container {
  display: flex;
}
.right {
  flex: 9;
  .top {
    .cover {
      height: 320px;
      position: relative;

      .coverImg {
        width: 100%;
        height: 250px;
        object-fit: cover;
      }
      .userImg {
        @include imageContainer(120, 120);
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        top: 190px;
        border: 2px solid #f1f1f1;
      }
    }

    .info {
      @include flexCenter(column, center);
      text-align: center;
      padding: 0 50px;

      .infoName {
        font-family: $Lobster;
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 5px;
      }
      .infoDesc {
        font-weight: 300;
        font-style: italic;
      }
    }
  }
  .bottom {
    display: flex;
  }
}
